.kichane .pq-btn-container{
    margin-top: 20px !important;
    margin-left: 0px !important;
}

.pq-section-title-style-1 p {
font-family: var(--font-paragraph);
}
.img-fluid-k {
    height: 636px !important;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    transition: all 500ms ease;
    border-radius: 40px 0;
  }
  
  .img-fluid-k:hover{
    border-radius: 0 40px;
  }