$__primarycolor: #d7af7b;
$__primarycolorhover: #d7af7b;
$__secondarycolor: #212b36;

$__white: #fff;
$__gray: #333;
$__gray__dark: #6e6b7b;
$__gray__lightdark: #6c757d;
$__sandstone: #637381;
$__goose-gray: #cccccc;
$__light__gooses: #f8f8f8;
$__dark__gooses: #f8f8f8;
$__light__goosesvalue: #f7f8f9;
$__light-goose-grays: #e9ecef;
$__light-goose: #e8ebed;
$__violet: #3e45eb;
$__violets: #1b2850;
$__violet__dark: #377dff;
$__violet__light: #5156be;
$__black: #000;
$__light__ash__gray: #8a8a8a;
$__dark__ash__gray: #555;
$__dark__ash__grays: #212b36;
$__light__vampire: #f1f1f1;
$__light__vampires: #fafbfe;
$__goose-grays: #b8bcc9;
$__light__smokey-gray: #5e5873;
$__light__smokey-grays: #292d32;
$__goose-greys: #565656;
$__sky__blue: #d7af7b;
$__success__light: #2ab57d;
$__success__lights: #0f9d58;
$__purple__light: #c580ff;
$__successcolor: #28c76f;
$__dangercolor: #f62d51;
$__dangerred: #ff0000;
$__warningcolor: #ff9900;
$__warningcolors: #fc8543;
$__frog__blue: #e6e6e6;
$__frog__blues: #e6e6e6;
$__fire__red: #fd625e;
$__grey__color: #8d8d8d;
$__gray__cloud: #999;
$__dark__gray__cloud: #9f9f9f;
$__cloud__gray: #eeeeee;
$__cloud__grays: #e0e0e0;
$__light__white: #fafafa;
$__light__whites: #e5e5e5;
$__dark__light: #f5f5f5;
$__dark__lights: #d8d8d8;
$__sandstones: #c4c4c4;
$__dark__blues: #32577d;
$__dark__violets: #092c4c;
$__dark__violets__light: #092c4c;
$__dark__gray: #888888;
$__dark__grays: #babfc7;
$__dark__lights: #babfc7;
$__light__battle__garys: #f2ecff;
$__graybackblue: #1b2559;
$__orangecolor: #fe9f43;
$__grey: #d9d9d9;
$__mute_color: #6b7a99;
$__black_color: #141432;
$__blue_black: #353570;
$__ash: #dee2e6;
$__light__grey: #8ea0af;
$__dark__grey: #1d1d42;
